body{
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
}
h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625em;
    color: #66bfbf;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66bfbf;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999e;
}
p{
    line-height: 2;
}
hr{
    border: dotted #bcb7b7 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;

}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.row-up{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.htmlcss-logo{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.mean-logo{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.JSPM-logo{
        width: 25%;
        float: left;
        margin-right: 30px;
}
.GPP-logo{
    width: 25%;
        float: right;
        margin-left: 30px;
}
a{
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #eaf6f6;
}
.intro{
    width: 30%;
    margin: auto;
}
.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}
.middle-container{
    margin: 100px 0;
}
.bottom-container{
    background-color: #66bfbf;
    padding: 20px;
    height: 100px;
    margin-top: 50px;
     margin-bottom: 0;
}
/*div{
    background-color: #E4F9F5;
}*/
.contact-msg{
    width: 40%;
    margin: 40px auto 60px;
}
.copyright{
    color: #eaf6f6;
    padding: 20px 0;

}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
#javascript {
    background-color: #2ecc71;
    width: 80%;
    height: 100%;
    position: relative;
}
.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30E3CD;
    background-image: -webkit-linear-gradient(top, #30E3CD, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CD, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CD, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CD, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3CD, #2BC4AD);
    text-decoration: none;
  }
  .connect a {
    margin: 30px 30px 0 30px;
     color: black;
}

.connect a:hover {
     color: gray;
}